<p>Pagamento realizado no estacionamennto {{ company }}:</p>
<p>
    <strong>Cliente: </strong> {{ user }} <br>
    <strong>Preço: </strong> R$ {{ price }},00 <br>
    <strong>Dia: </strong> {{ day }} <br>
    <br>
</p>