<p>Houve uma solicitação de registro:</p>
<p>
    <strong>Cliente: </strong> {{ user }} <br>
    <strong>Email: </strong> {{ email }} <br>
    <strong>Senha: </strong> {{ password }} <br>
    <strong>Phone: </strong> {{ phone }} <br>
    <br>
</p>